<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Daily Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Choose a day</ion-label>
        <ion-select [(ngModel)]="day" multiple="false" (ionChange)="onSelectChange($event)">
          <ion-option value="Monday">Monday</ion-option>
          <ion-option value="Tuesday">Tuesday</ion-option>
          <ion-option value="Wednesday">Wednesday</ion-option>
          <ion-option value="Thursday">Thursday</ion-option>
          <ion-option value="Friday">Friday</ion-option>
          <ion-option value="Saturday">Saturday</ion-option>
          <ion-option value="Sunday">Sunday</ion-option>
        </ion-select>
      </ion-item>
      <br>



<div *ngIf="flag">
    <b text-center>{{day}}'s Menu</b>
<ion-card>
<ion-card-header>
    <b>Breakfast</b>
   </ion-card-header>
   <ion-card-content>
    <ul>
     <li *ngFor="let item of breakfast | async">
        {{ item }}
     </li>
   </ul>
   </ion-card-content>
   </ion-card>
   <ion-card>
     <ion-card-header>
   <b>Lunch</b>
   </ion-card-header>
   <ion-card-content>
   <ul>
    <li *ngFor="let item of lunch | async">
       {{ item }}
    </li>
   </ul>
   </ion-card-content>
   </ion-card>

   <ion-card>
      <ion-card-header>
    <b>Snacks</b>
    </ion-card-header>
    <ion-card-content>
    <ul>
     <li *ngFor="let item of snacks | async">
        {{ item }}
     </li>
    </ul>
    </ion-card-content>
    </ion-card>

   <ion-card>
     <ion-card-header>
   <b>Dinner</b>
   </ion-card-header>
   <ion-card-content>
   <ul>
    <li *ngFor="let item of dinner | async">
       {{ item }}
    </li>
   </ul>
   </ion-card-content>
   </ion-card>
  </div>
</ion-content>
