<!--
  Generated template for the SumitresponsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Submit response</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="responseSubmitted;else othercontent">
    <div>
Select all those you will eat tomorrow
<ion-item>
  <ion-label>Breakfast</ion-label>
  <ion-checkbox [(ngModel)]="breakfast"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Lunch</ion-label>
  <ion-checkbox [(ngModel)]="lunch" ></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Snacks</ion-label>
  <ion-checkbox [(ngModel)]="snack" ></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Dinner</ion-label>
  <ion-checkbox [(ngModel)]="dinner" ></ion-checkbox>
</ion-item>
<br>
<button ion-button round (click)="submitResponses()" >Submit Response</button>
</div>

</div>

<ng-template #othercontent >
  <div *ngIf="feedbackSubmitted;else subhey">

    Please submit your feedback to help us serve you better!
    <ion-input type="text" placeholder="Your valuble feedback here" [(ngModel)]="feedback" name="feedback"></ion-input>

  <button ion-button round (click)="submitFeedback()" >Submit feedback</button>
</div>
</ng-template>

<ng-template #subhey>
  Thanks for the feedback! See you again tomorrow!
</ng-template>


</ion-content>
